html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1600px;
    display: flex;
    margin: 0 auto;
    background-color: rgb(233, 247, 235);
}
.main {
    display: flex;
    flex-flow: column;
    width: 88%;
}
.menu {
    width: 12%;
    background-color: rgb(233, 247, 235)
    padding: 40px 30px 0px;

}

ul li {
    margin: 10px 0;
}

.header {
    background-color: rgb(233, 247, 235);
    min-height:10px;
}

.content {
    background-color: white;
    min-height: 430px;
    padding: 12px;
}
.footer {
    background-color: rgb(233, 247, 235);
    min-height: 100px;
}